# Documentation
site/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/

# Environments
.venv
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# ruff
.ruff_cache/
